#flask
Flask
Flask-SQLAlchemy
Flask-Login
Flask-Cors
#Flask-Markdown
Flask-SocketIO
python-engineio
python-socketio<5.8.0
Werkzeug<3.0
Jinja2

# common util
apscheduler
pytz
requests
discord-webhook
pyyaml
telepot-mod
Flask-Dropzone
psutil
slack-sdk

# filemanager
pillow

gevent
gevent-websocket
pycryptodome
json_fix
# -r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_mini.txt
    # mini
-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_normal.txt
    # normal
-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_useful.txt
    # useful
sqlitedict
    # plugin/torrent_info
discord.py
    # plugin/discord_bot
xmltodict
    # plugin/plex_mate
tmdbsimple
tvdb-api
    # plugin/metadata
