-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_mini.txt
    # mini
-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_normal.txt
    # normal
selenium
pillow
lxml
    # minimal
sqlitedict
    # plugin/torrent_info
discord.py
    # plugin/discord_bot
xmltodict
    # plugin/plex_mate
tmdbsimple
tvdb-api
    # plugin/metadata
# guessit
#     # plugin/fileprocess_movie
# PlexAPI
#     # plugin/plex
# oauth2client
# google-api-python-client
#     # plugin/gdrive_scan
# watchdog
#     # plugin/plex_mate
# gspread
# gspread_formatting
#     # lib2/support/tool
