-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_mini.txt
    # mini
-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_normal.txt
    # normal
-r https://raw.githubusercontent.com/flaskfarm/flaskfarm/main/files/requirements_useful.txt
    # useful
pillow
    # custom
sqlitedict
    # plugin/torrent_info
discord.py
    # plugin/discord_bot
xmltodict
    # plugin/plex_mate
tmdbsimple
tvdb-api
    # plugin/metadata
